# Mini projet data proc

In [1]:
import pandas as pd
import requests as req  
import zipfile
import io   
import os

In [2]:
# 1. Créer la structure de répertoires
base_dir = "C:/Users/hp/Desktop/mini_projet_data_analysis"
sub_dirs = ["data", "output", "code"]

# Créer le répertoire principal et les sous-répertoires
os.makedirs(base_dir, exist_ok=True)
for sub_dir in sub_dirs:
    os.makedirs(os.path.join(base_dir, sub_dir), exist_ok=True)

print(f"Structure de répertoires créée dans '{base_dir}'")

Structure de répertoires créée dans 'C:/Users/hp/Desktop/mini_projet_data_analysis'

In [3]:
# -*- coding: utf-8 -*-

url = "https://download.geonames.org/export/dump/countryInfo.txt"

# Lire en spécifiant le caractère de commentaire
df = pd.read_csv(url,sep='\t', header=None,encoding='utf-8',comment='#',on_bad_lines='skip'
             ,names=['ISO', 'ISO3', 'ISO_Numeric', 'fips', 'country', 'capital', 'area_sq_km',
                     'population', 'continent', 'tld', 'currency_code', 'currency_name',
                     'phone', 'postal_code_format', 'postal_code_regex', 'languages',
                     'geoname_id', 'neighbours', 'equivalent_fips_code'])

df.head()

# afficher le code du Burkina Faso
ISO = df[df['country'] == 'Burkina Faso']['ISO'].values[0]

In [5]:
#Télécharger le fichier zip avec code BF

url = "https://download.geonames.org/export/dump/"+ISO+".zip"
output_path = os.path.join(base_dir, "data", "BF.zip")
    
    # Télécharger le fichier
response = req.get(url)
with open(output_path, 'wb') as f:
        f.write(response.content)
    
    # Extraire le fichier
with zipfile.ZipFile(output_path, 'r') as zip_ref:
    zip_ref.extractall(os.path.join(base_dir, "data"))

    print(f"Fichier téléchargé et extrait dans '{os.path.join(base_dir, 'data')}'")

Fichier téléchargé et extrait dans 'C:/Users/hp/Desktop/mini_projet_data_analysis\data'

In [6]:

# lister les fichiers dezipé dans le répertoire data
for file in os.listdir(os.path.join(base_dir, "data")):
    print(file)

BF.txt
BF.zip
readme.txt

In [8]:
BF_data = pd.read_csv(os.path.join(base_dir, "data", "BF.txt"), sep='\t', header=None, encoding='utf-8', comment='#')

BF_data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,2282318,Pouéné,Pouene,NaN,9.72908,-2.78660,H,STM,BF,NaN,00,NaN,NaN,NaN,0,NaN,226,Africa/Abidjan,2023-11-07
1,2285251,Léraba Occidentale,Leraba Occidentale,"Badini,La Leraba Occidentale,Leraba,Leraba Occ...",10.28333,-5.11667,H,STM,BF,CI,00,NaN,NaN,NaN,0,NaN,283,Africa/Abidjan,2023-11-07
2,2287216,Kéléouoro,Keleouoro,"Keleouoro,Keleworo,Kéléouoro,Kéléworo",9.80748,-4.05023,H,STM,BF,"BF,CI",00,NaN,NaN,NaN,0,NaN,261,Africa/Abidjan,2023-11-07
3,2294066,White Volta,White Volta,"Nakambe,Nakambé,Nakanbe,Nakanbé,Volta Blanche,...",8.70194,-0.99056,H,STM,BF,GH,00,NaN,NaN,NaN,0,NaN,75,Africa/Accra,2023-11-08
4,2298457,Issana Bouga,Issana Bouga,"Issana Bouga,Lanyung,Lanyunga",10.91667,-1.18333,H,STM,BF,NaN,00,NaN,NaN,NaN,0,NaN,178,Africa/Accra,2023-11-08

In [14]:
# select the columns of interest
cols = [0, 1,  4, 5 ]

burkina_location = BF_data[cols]

burkina_location.columns = ['ID', 'location_name', 'lat', 'long']

burkina_location.head()

        ID       location_name       lat     long
0  2282318              Pouéné   9.72908 -2.78660
1  2285251  Léraba Occidentale  10.28333 -5.11667
2  2287216           Kéléouoro   9.80748 -4.05023
3  2294066         White Volta   8.70194 -0.99056
4  2298457        Issana Bouga  10.91667 -1.18333

In [15]:
# sauvegarder le fichier dans le répertoire output

output_file = os.path.join(base_dir, "output", "burkina_location.csv")
burkina_location.to_csv(output_file, index=False)

In [18]:
# les données d'une localité précise
nom_localite = 'gounghin'

localite_data = burkina_location[burkina_location['location_name'].str.lower() == nom_localite.lower()]
localite_data

# sauvegarder les données de la localité dans un fichier CSV
localite_output_file = os.path.join(base_dir, "output", f"{nom_localite}.csv")

In [ ]:
# selection des localités avec les première lettres commencant entre A ET P par orde alphabétique

localites_A_P = burkina_location[burkina_location['location_name'].str[0].str.upper().between('A', 'P')]
localites_A_P_sorted = localites_A_P.sort_values(by='location_name')
localites_A_P_sorted

             ID location_name       lat     long
10648   6913771        Abanda  15.06808 -0.59805
10031   2363251        Abanga  13.32429  0.31151
11093  11980339        Abassi  12.27728 -1.13662
10601   6874881         Abaye  13.44080 -3.90190
10028   2363248          Abra  13.75724 -1.47784
...         ...           ...       ...      ...
10111   2570015       Pézinga  12.05298 -1.47002
3478    2356655            Pê  11.30000 -3.53333
3279    2356453            Pô  12.30000 -2.61667
3280    2356454            Pô  11.16972 -1.14500
10394   6296406    Pô Airport  11.17854 -1.14498

[8306 rows x 4 columns]

In [ ]:
# identifiez la latitude, la longitude minimale et les noms de lieux correspondants
min_lat = localites_A_P_sorted['lat'].min()
min_long = localites_A_P_sorted['long'].min()

print(f"Latitude minimale: {min_lat}, Longitude minimale: {min_long}")

Latitude minimale: 5.21609, Longitude minimale: -5.65968

In [39]:
# Filtrer les localités avec latitude => 11 et longitude <= 0.5

filtered_localites = localites_A_P_sorted[(localites_A_P_sorted['lat'] >= 11) & (localites_A_P_sorted['long'] <= 0.5)]
filtered_localites

             ID location_name       lat     long
10648   6913771        Abanda  15.06808 -0.59805
10031   2363251        Abanga  13.32429  0.31151
11093  11980339        Abassi  12.27728 -1.13662
10601   6874881         Abaye  13.44080 -3.90190
10028   2363248          Abra  13.75724 -1.47784
...         ...           ...       ...      ...
10111   2570015       Pézinga  12.05298 -1.47002
3478    2356655            Pê  11.30000 -3.53333
3279    2356453            Pô  12.30000 -2.61667
3280    2356454            Pô  11.16972 -1.14500
10394   6296406    Pô Airport  11.17854 -1.14498

[6447 rows x 4 columns]

In [41]:
# Enregistrement dans une feuille excel dans le 

with pd.ExcelWriter('output/mini_projet.xlsx',) as writer:
    localite_data.to_excel(writer, sheet_name= nom_localite, index=False)
    localites_A_P_sorted.to_excel(writer, sheet_name='A_to_P', index=False)